* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    min-width: 1240px;
}

a {
    text-decoration: none;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1230px;
}

.page {
    min-width: 1240px;
}

/* HEADER */
.header {
    background: white;
    height: 160px;
}

.header_top {
    display: flex;
    width: 100%;
    height: 40px;
    padding: 10px 0;
}

.header_top--container {
    display: flex;
}

.header_top--left {
    display: flex;
    align-items: center;
    font-size: .9rem;
}

.header_top--left span.separator {
    width: 1px;
    height: 20px;
    background: #c4c4c4;
    display: inline-block;
    margin: 0 10px;
}

.header_top--left .header_top_social a img {
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

.header_top_social .header_top_social--ins {
    margin-left: 5px;
}

.header_top--right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header_language span {
    margin-left: 30px;
    position: relative;
}

.header_language--trigger {
    color: #666666;
    display: block;
    cursor: pointer;
    font-size: 14px;
    
}

.header_language--trigger::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 4px 0 4px;
    border-color: #000 transparent transparent transparent;
    display: inline-block;
    position: absolute;
    right: -15px;
    top: 50%;
    margin-top: -4px;
}

/*.open > .dropdown-menu {
    display: block;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover {
    background: #EFEFEF
}

ul.header__language--conten {
    position: relative;
    left: auto;
    right: 0;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 10%);
    border-radius: 5px;
    margin-top: 7px;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */

.header_account {
    margin-left: 30px;
}

.header_account a img {
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

.header_bottom {
    width: 100%;
    height: 60px;
    background: black;
    padding: 10px 0;
}

.container_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_bottom .logo {
    width: 15%;
}

.header_bottom .logo a img {
    width: 160px;
    height: 40px;
}

.header_bottom .search {
    width: 70%;
    display: flex;
}

.search .search_control {
    width: 100%;
}

.search_category--trigger {
    background: #EFEFEF;
    border-radius: 5px 0px 0px 5px;
    display: block;
    padding-left: 10px;
    font-size: 14px;
    line-height: 40px;
    width: 74px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 74px;
    padding-right: 18px;
    color: #000;
    position: relative;
    cursor: pointer;
} 

.search_category--trigger::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 4px 0 4px;
    border-color: #000 transparent transparent transparent;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -4px;
}

.search_control input.form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    background-color: #fff;
    border: none;
    box-shadow: none;
    outline: none;
    border-radius: 0;
}

.search_actions .btn {
    background: #E9B02A;
    display: block;
    border-radius: 0px 5px 5px 0px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    width: 53px;
    min-width: 53px;
}

.search_actions .btn {
    height: 40px;
}

.search_actions .btn img {
    height: 40px;
    padding: 5px;
}

.cart {
    width: 15%;
}

.cart_icon {
    position: relative;
}

.cart_icon a img {
    display: block;
    width: 60px;
    height: 40px;
    padding: 0px;
    float: right;
}

.cart_icon a span {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -25px;
    left: 130px;
    line-height: 20px;
    background: orange;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
}

.cart_icon .cart_list {
    width: calc(100% + 200px);
    position: absolute;
    top: calc(100% + 50px);
    right: 0px;
    background-color: rgb(156, 154, 154);
    display: none;
}
.cart_icon:hover .cart_list {
    display: block;
}

.cart_icon .cart_list h3 {
    color: white;
    text-transform: uppercase;
    padding: 20px;
    font-size: 1rem;
    border-bottom: 1px solid #fff;
    font-weight: 500;
}

.cart_icon .cart_list span {
    display: block;
    text-align: center;
    color: white;
    font-size: .9rem;
    padding: 10px;
}

.cart_icon .cart_list span.fa-caret-up {
    content: "\f0d8";
    font-family: "FontAwesome";
    position: absolute;
    right: 10px;
    top: -30px;
    color: rgb(156, 154, 154);
    font-size: 2rem;
}

.header_menu {
    height: 60px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1230px;
}

.container ul.menu_item {
    display: flex;
    align-items: center;
}

ul.menu_item > li {
    margin: 0;
    margin-right: 50px;
    height: 60px;
    display: flex;
    align-items: center;
}

ul.menu_item li.menu_item--left a {
    text-decoration: underline;
    color: orange;
    font-weight: bold;
}

ul.menu_item li.menu_item--right {
    margin-right: 0;
    margin-left: auto;
}

ul.menu_item li.menu_item--right a {
    text-transform: uppercase;
    color: red;
    font-weight: bold;
    margin: 0px;
    margin-left: auto;
}

/* BANNER */
.banner_2 a img{
    max-width: 100%;
}

.slider_banner img {
    max-width: 100%;
    margin-top: 5px;
}

.slider_banner {
    position: relative;
}

.slider_banner a {
    position: absolute;
    width: 30px;
    background: white;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    color: #444444;
}

.slider_banner a.button-left, 
.slider_banner a.button-right {
    left: -15px;
    top: 227px;
}
.slider_banner a.button-left:hover {
    background: orange;
}
.slider_banner a.button-right:hover {
    background: orange;
}

.slider_banner a.button-right {
    left: auto;
    right: -15px;
}

.slider_banner a span i {
    margin-top: 6px;
}

.fa-arrow-left:before {
    content: "\f060";
}
.fa-arrow-right:before {
    content: "\f061";
}

.slider_banner .bt button a {
    transition-duration: .8s;
    transition-timing-function: ease-out;
    transition-delay: .1s;
}

/* Product-list */
.product_1 {
    background: #F5F5F5;
    padding: 40px 0 50px;
    margin-bottom: 30px;
}

.block-heading-1 {
    text-align: center;
}

.block-heading-1 h2 {
    font-size: 2.5rem;
}

.block-heading-1 button {
    padding: 15px 80px;
    border: none;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: .9rem;
    background: orange;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    transition-delay: .1s;
}

.block-heading-1 button:hover {
    opacity: .7;
}

.home_content {
    margin: auto;
    width: 98%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
    max-width: 1230px;
}

.home_content .zoom {
    border-radius: 0 0 5px 5px;
    overflow: hidden;
}

.home_content .zoom {
    width: 18%;
    height: 440px;
    background-color: white;   
    border-radius: 5px;
    border: 1px solid #d7d5d5;
    margin-bottom: 20px;
    position: relative;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-delay: .1s;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 10%);
}

.home_content div img:hover {
    transform: scale(1.1);
}

.home_content a {
    text-decoration: none;
    color: black;
    font-size: 14.5px;
}
.home_content a:hover{
    color: orange;
}

.home_content div img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-delay: .1s;
}

.home_content a p {
    /* width: 95%; */
    margin-left: 5px;
    margin-top: 13px;
    margin-bottom: 15px;
}

.home_content div span.price {
    margin-left: 5px;
    font-weight: bold;
}

.home_content div span.old-price {
    margin-left: 15px;
    text-decoration-line: line-through;
    color: #444444;
}

.home_content div span.button-1,
.home_content div span.button-2 {
    width: 48px;
    height: 48px;
    position: absolute;
    left: -21px;
    top: 135px;
    border-radius: 100%;
    background-color: #c3c0c0;
    text-align: center;
    cursor: pointer;
}

.home_content div span.button-1:hover {
    background: orange;
}


.home_content div span.button-2:hover {
    background: orange;
}

.home_content div span.button-2 {
    left: auto;
    right: -23px
}

.fas {
    font-weight: 900;
}

.home_content div span.button-1 i,
.home_content div span.button-2 i {
    margin-top: 15px;
    color: white;
    margin-left: 16px;
}

.home_content div span.button-2 i {
    margin-left: auto;
    margin-right: 16px;
}

.fa-chevron-left:before {
    content: "\f053";
}
.fa-chevron-right:before {
    content: "\f054";
}

/* Brand */
.brand {
    width: 100%;
}

.brand_img img.brand_img-2 {
    margin-left: 26px;
}

.brand img.brand_in {
    max-width: 100%;
    margin-top: 20px;
}

/* Shipping */

.home_product-2 {
    margin-top: 20px;
}

.block_heading-1 {
    display: flex;
    margin-bottom: -30px;
}

.text_h2 {
     width: 20%;
}

.block_heading-1 h2 { 
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
}

.block_heading-1 .info {
    width: 60%;
    margin-left: 20px;
}

.ckeck {
    width: 20%;
}

.check a {
    font-style: italic;
    margin-left: 120px;
    color: #888888;
}

/* block-conten 2 */
.item-price {
    cursor: context-menu;
}

.gif .item-price small.price-1 {
    text-decoration: line-through;
    color: #888888;
    font-weight: 300;
}

.price-linethough--1 {
    text-decoration: underline line-through;
    color: #888888;
    font-size: .9rem;
    margin-left: -4px;
}

.gif .item-price small.price-2 {
    margin-left: 20px;
}

.price-linethough--2 {
    text-decoration: underline;
    font-size: .9rem;
    margin-left: -4px;
}

/* Promotion */
.promotion {
    margin-top: 20px;
}

.promotion a img {
    max-width: 100%;
}

/* Product_today */
.product_today {
    margin-top: 20px;
}

.block-heading {
    background: black;
    display: flex;
    height: 50px;
    border-radius: 5px 5px 0px 0px;
}

.block-heading h2.text {
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 15px;
    
}

.block-heading a.see-all {
    color: white;
    margin-left: auto;
    padding: 15px;
}

.block-heading a span {
    color: #608380;
}

.block-conten ul.product-list li {
    flex-wrap: wrap;
}

.block-conten-1 {
    margin-top: 20px;
}

.block-conten-1 ul.product-list {
    display: flex;
    flex-wrap: wrap;
}

.block-conten-1 .home-conten {
    margin: 0px -26px 0px 0px;
}

/* Footer */
footer {
    margin: 50px 0 0 0;
    padding: 50px 0 0;
    background: #EAEAEA;
}

.footer_top {
    display: flex;
    margin-bottom: 25px;
}

.footer_top-row {
    display: flex;
    justify-content: space-between;
    margin-right: -15px;
}

.support {
    width: auto;
    max-width: 260px;
}
.security {
    width: auto;
    max-width: 260px;
}
.cooperate {
    width: auto;
    max-width: 260px;
}
.pay {
    width: auto;
    max-width: 260px;
}
.connect {
    width: auto;
    max-width: 260px;
}

/* support */
.support h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 27px;
    text-transform: uppercase;
}

.support .hotline {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 20px;
}

.support ul {
    font-size: 12px;
    line-height: 23px;
}

.support ul li {
    margin: 0 0 15px;
}

.support ul li a {
    display: block;
    color: #000000;
    font-size: .8rem;
}

.support ul li a:hover {
    color: rgb(243, 186, 81);
}

/* security */
.security h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 27px;
    text-transform: uppercase;
}

.security ul {
    font-size: 12px;
    line-height: 23px;
}

.security ul li {
    margin: 0 0 15px;
}

.security ul li a {
    display: block;
    color: #000000;
    font-size: .8rem;
}

.security ul li a:hover {
    color: rgb(243, 186, 81);
}

/* cooperate */
.cooperate h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 27px;
    text-transform: uppercase;
}

.cooperate ul {
    font-size: 12px;
    line-height: 23px;
}

.cooperate ul li {
    margin: 0 0 15px;
}

.cooperate ul li a {
    display: block;
    color: #000000;
    font-size: .8rem;
}

.cooperate ul li a:hover {
    color: rgb(243, 186, 81);
}

/* pay */
.pay h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 20px;
    text-transform: uppercase;
}

.row-payment {
    margin: 0 -10px;
    max-width: 200px;
    display: flex;
}

.row-payment .col img {
    padding: 10px 10px;
}

/* connect */
.connect h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 27px;
    text-transform: uppercase;
    text-align: center;
}

.social-network {
    text-align: center;
}

.social-network a {
    margin: 0 6px 6px;
    display: inline-block;
    vertical-align: middle;
}

.social-network a img {
    max-width: 100%;
}

/* down */
.down h3 {
    margin-bottom: 20px;
    margin-top: 35px;
}
.down a img {
    margin-left: 75px;
}

/* Zalo */
.zalo h3 {
    margin-bottom: 20px;
    margin-top: 35px;
}

.zalo a img {
    padding-left: 75px;
}

/* footer_bottom */
.footer_bottom {
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    padding: 30px 0 35px;
    border-top: 1px solid #C4C4C4;
}
